@using SendingEmailsWithWebMailInMVC.Common
@{
    ViewBag.Title = "_Dashboard";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <!-- BOOTSTRAP STYLES-->
    <link href="~/Content/Dashboard/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/Content/Dashboard/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="~/Content/Dashboard/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="~/Content/Dashboard/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">@SessionContext.CurrentUser.CompanyName</a>
            </div>

            <div class="header-right">

               
                <a href="@Url.Action("LogOff", "Account", new { id = UrlParameter.Optional })" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>


            </div>
        </nav>
        <!-- /. NAV TOP  -->
       @Html.Partial("~/Views/Shared/_sideMenu.cshtml");
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            @RenderBody()
          @*  <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">BLANK PAGE</h1>
                        <h1 class="page-subhead-line">This is dummy text , you can replace it with your original text. </h1>

                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            This is a free responsive admin under cc3.0 license, so you can use it for personal and commercial use.
                            <br />
                            Enjoy this admin and for more please keep looking <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
                        </div>
                    </div>
                </div>

            </div> *@
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec">
        &copy; 2016 Webmail | Designed By : Pema / Pranoy / Ritesh
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
   @* <script src="~/Content/Dashboard/js/jquery-1.10.2.js"></script> *@
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/Content/Dashboard/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/Content/Dashboard/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/Content/Dashboard/js/custom.js"></script>

    @RenderSection("scripts", required: false)
    <script src="/lcsk/assets/js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/lcsk/assets/js/jquery.signalR-2.1.1.min.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="/LCSK/chat.js" type="text/javascript"></script>

</body>
</html>
